<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <div th:fragment="memoheader">
    <!-- Start Header Area -->
    <header class="header navbar-area">
      <div class="app-header">
        <a class="navbar-brand" href="/app">
          <h1>SSAG.M</h1>
        </a>
        <div class="login-button">
          <ul>
            <li sec:authorize="isAuthenticated()">
              <a th:href="@{/app/testfridge}" style="color: white"
                ><i class="lni lni-enter"></i>내 냉장고</a
              >
            </li>
            <li sec:authorize="isAuthenticated()">
              <a th:href="@{/app/testrecipesearch}" style="color: white"
                ><i class="lni lni-enter"></i>레시피 검색</a
              >
            </li>

            <!-- <li sec:authorize="isAuthenticated()">
                     
                        <sec:authentication property="principal.username" th:src="${username}" />
                        <div id="username" style="color: white;">안녕하세요.<h4 th:value=" ${username}"></h4></div>
                    </sec:authorize>
                    </li> -->
          </ul>
        </div>
      </div>
    </header>
  </div>
</html>
