<div th:each="CB,n:${cookbasket}" class="single-item-list">
  <input hidden th:value="${CB.cookVo.cookcode}" th:id="|cookcode${n.index}|">
  <div class="row align-items-center">
    <div class="col-4 col-12">
      <div class="item-image"><a th:href="${CB.cookVo.cooklink}"><img th:src="${CB.cookVo.cookimglink}"
            onerror="this.onerror=null; this.src='images/recipe/recipe_tmp.png';" style="position: none;"></a>
        <div class="content">
          <h3 class="title" th:text="${CB.cookVo.cookname}"><button type="button" class="btn btn-success recipeBtn"
              th:onclick="|deletecookbasket(${n.index})|">수정</button></h3>
          <h3 class="title" th:text="${CB.cookVo.cookname}"><button type="button" class="btn btn-success recipeBtn"
              th:onclick="|deletecookbasket(${n.index})|">삭제</button></h3>
          <div class="input-group input-group-margin" style="align:right"><button class="btn btn-outline-secondary"
              type="button" th:onclick="|countdown(${n.index})|">&lt;</button><input style="text-align:center;"
              class="form-control cookserve cookserve1" type="number" min="1"><button class="btn btn-outline-secondary"
              type="button" th:onclick="|countup(${n.index})|">&gt;</button></div>
          <hr>
          <block>
            <h5 th:each="ingre:${CB.ingredientVoList}" th:class="|ingredient infridge-${ingre.infridge}|"
              th:text="ingre.ingredientname"></h5>
          </block>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


  async function deletecookbasket(num) {
    console.log("메뉴 삭제 진입 " + num + "번 카드");
    const targetUrl = "/deletecookbasket";
    let formData = new FormData();
    let cookcode = document.getElementsByClassName("cookcode" + num)[0].value;
    formData.append("cookcode", cookcode);

    console.log("데이터 확인", cookcode);
    const options = {
      method: "post",
      body: formData,
    }

    try {
      let response = await fetch(targetUrl, options);
    } catch (err) {
      alert(err);
    }
    window.location.reload();

  };

  async function changecookbasket(num) {
    console.log("수량 수정 진입 " + num + "번 카드");

    const targetUrl = "/updatecookbasket";
    let formData = new FormData();
    let cookcode = document.getElementsByClassName("cookcode" + num)[0].value;
    let cookquantityinbasket = document.getElementsByClassName("cookserve" + num)[0].value;

    if (cookquantityinbasket < 1) {
      alert("최소 1인분 이상 등록해야 합니다.");
      return;
    }

    formData.append("cookcode", cookcode);
    formData.append("cookquantityinbasket", cookquantityinbasket);

    console.log("데이터 확인", cookcode);
    const options = {
      method: "post",
      body: formData,
    }

    try {
      let response = await fetch(targetUrl, options);
    } catch (err) {
      alert(err);
    }
  };
</script>